* {
  box-sizing: border-box;
}

body {
  font-family: Kameron, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: Kameron;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: Kameron;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
  display: flex;
  width: 200px;
  padding: 10px 32px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 236, 250);
  border-radius: 20px;
  border: 1px solid #b4b4b4;
  border-color: rgb(161, 120, 201);
}

input {
  font-family: Kameron;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
  display: flex;
  width: auto;
  padding: 10px 32px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  border-color: rgb(29, 28, 29);
  border: 1px solid #b4b4b4;
}

.timer {
  font-family: Kameron;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: 0.28px;
  display: flex;
  width: auto;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: rgb(29, 28, 29);
}

.field {
  padding: 10px;
}

.form {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
}
